# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
**/node_modules/
**/bower_components/

# Distribution directory
/dist/

# IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
